@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  height: 100%;
}

html {
  background-color: #f9fafb;
}

html.dark {
  background-color: #020617;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}
